<div class="container">
    <div class="row">
        <div class="col-md-12 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">{{this.title}}</h5>
                    <p class="card-text">Descripción: {{this.description}}</p>
                    <p class="card-text">Precio: {{this.price}}$</p>
                    <p class="card-text">Codigo: {{this.code}}</p>
                    <p class="card-text">stock: {{this.stock}}</p>
                    <p class="card-text">categoria: {{this.category}}</p>
                    <p class="card-text">id: {{this._id}}</p>
                    <button class="btn btn-primary">añadir al carrito</button>
                </div>
            </div>
        </div>
    </div>